@{
    ViewBag.Title = "Insitution";
}

@Styles.Render("~/Content/css")


@Styles.Render("~/Content/pricing2.css")

<link rel="stylesheet" href="http://yui.yahooapis.com/pure//pure.css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="http://yui.yahooapis.com/pure//grids-responsive-old-ie.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure//grids-responsive.css">

<main>



    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">


                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="l-box">
                        <h3 class="information-head">Meet Our Partners</h3>

                        <hr class="header-after">
                        <div class="members" style="padding-left:325px;">
                            <p>California&nbsp;&nbsp; &nbsp; &nbsp;Louisiana&nbsp; &nbsp; &nbsp; &nbsp;  Massachusetts</p>
                        </div>



                        <div class="inner-head" style="padding-left: 79px;">

                            <img src="~/Content/img/img1.png" style="width: 710px;height: 310px;">

                        </div>
                        <div class="inner-head-2">


                            <img src="~/Content/img/img2.png" style="width: 810px;height: 310px; padding-left: 137px;">

                        </div>

                        <br>



                    </div>
                </div>


            </div> <!-- end information -->
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    <h3 class="information-head">Soon Joining Us</h3>
                    <hr class="header-after">
                    <div class="members">
                        <p style="padding-left:145px;">Duke University&nbsp;&nbsp; &nbsp; &nbsp;UNO&nbsp; &nbsp; &nbsp; &nbsp;Columbia University&nbsp;&nbsp; &nbsp; &nbsp;CALTECH &nbsp;&nbsp; &nbsp; &nbsp;NYU&nbsp;&nbsp; &nbsp; &nbsp;Wellseley College&nbsp;&nbsp; &nbsp; &nbsp;Pomona College </p>
                        <p style="padding-left:175px;">
                            Rice University&nbsp;&nbsp; &nbsp; &nbsp;UCLA&nbsp;&nbsp; &nbsp; &nbsp;UCSB&nbsp;&nbsp; &nbsp; &nbsp;Boston College&nbsp;&nbsp; &nbsp; &nbsp;Soka University of America
                        </p>
                        <p style="padding-left:195px;">Tulane University&nbsp;&nbsp; &nbsp; &nbsp;Washington University&nbsp;&nbsp; &nbsp; &nbsp;University of Chicago</p>
                        <p style="text-align:center;"> MIT</p>
                    </div>
                </div>
            </div>
        </div> <!-- end l-content -->
    </div>
    <div class="footer l-box">
        <p>
            <b>Crux</b> <i> 0.1.1 [beta version]</i>  Soon releasing full version. We apologize for any inconvinience.
        </p>
    </div>

</main>