@model ProjectCrux.Models.Hashtag

@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <h1 style="font-size:39px;">Sorry! No Tags Found!!! Search Again...</h1>
    <br/>
    <br />
    <br />
   
    <br />
    <br />
    <br />
    <div class="relase" style="padding-left:335px;">
        <img src="~/Content/img/soon.jpg" style="width:810px;">
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
  
    

</section>






